@import "~compass-mixins/lib/compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$font1: 'Poppins', sans-serif;
$font2: 'Open Sans', sans-serif;

$color1: #192965;
$color2: #FAAFFF;
$color3: #F0EFEF;

$bg-color: #FFF;


$size1: 1250px;
$size2: 1150px;
$size3: 1024px;
$size4: 768px;
$size5: 480px;
$size6: 360px;

$container: 1250px;
$goutiere: 50px;