@import "~compass-mixins/lib/compass/css3";
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

// $font1: 'Merriweather', sans-serif;

$color1: #FF59EC;
$color2: #FEF25D;
$color3: #CCCCCC;
$color4: #151515;
$color5: #000000;
$color6: #FFFFFF;
$bg-color: #101010;


$size1: 1250px;
$size2: 1150px;
$size3: 1024px;
$size4: 768px;
$size5: 480px;
$size6: 360px;

$container: 1250px;
$goutiere: 50px;