html{
    overflow-x: hidden;
    body{
      font-family: $font1;
      font-size: 16px;
      line-height: 1.2;
      color: $color1;
      font-weight: 300;
      margin: 0 auto;
      overflow: hidden;
    }
    div.container{
        display: block;
        position: relative;
        max-width: $container;
        width: 100%;
        margin: 0 auto;
        @media(max-width: $container + $goutiere){
            max-width: calc(100% - #{$goutiere});
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-family: $font1;
        font-weight: bold;
        color: $color1;
    }
    a{
        text-decoration: none;
        font-weight: 600;
        color: $color1;
    }



}